.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    width: 95%;
    position: fixed;
    padding: 0 2rem;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 600px;
}